.pullrequest-card
  width: 396px
  height: 206px
  border-radius: 4px
  background-color: #27262d
  // box-shadow: 0 0 15px 0 rgba(19, 19, 23, 0.2)
  display: inline-block
  margin: 24px 24px 0px 0px
  padding: 20px 24px 20px 16px
