<div class="pullrequests-dashboard" ng-controller="PullRequestsController as prDashboard">
  <div class="pullrequest-card" ng-repeat="pullrequest in prDashboard.pullrequests track by pullrequest.key">
    <span class="pullrequest-card-color" ng-class="prDashboard.getPullRequestColor(pullrequest)"></span>
    <div class="pullrequest-card-info">
      <h3><a ng-href="{{ pullrequest.url }}">{{ pullrequest.key }}</a></h3>

      <h5>
        Author
      </h5>
      <span class="text">{{ pullrequest.author }}</span>

      <div class="mt10">
        <span class="text mr45">
          <i class="fa fa-check-square-o text-muted mr5"></i>
          <span>{{ pullrequest.task_count }} Tasks </span>
        </span>

        <span class="text">
          <i class="fa fa-refresh text-muted mr5"></i>
          <span class="mr5"> {{ pullrequest.build_count }} Builds </span>
          <span ng-if="pullrequest.build_count">
            <i ng-if="pullrequest.last_build=='SUCCESSFUL'" class="fa fa-check-circle build-success"></i>
            <i ng-if="pullrequest.last_build=='FAILED'" class="fa fa-check-circle build-error"></i>
            <i ng-if="pullrequest.last_build=='INPROGRESS'" class="fa fa-circle-o-notch fa-spin build-in-progress"></i>
          </span>
        </span>
      </div>

      <h5 class="mt15">
        Last Update
      </h5>
      <span class="text">{{ pullrequest.updated_by }}, {{ pullrequest.updated_on | date:"dd/MM/yy HH:mm" }}</span>

    </div>
    <div class="pullrequest-card-approvals">
      <img class="pullrequest-approval" ng-repeat="approval in pullrequest.approvals | limitTo: 2" ng-src="{{ approval.avatar }}">
      <div ng-if="pullrequest.approvals.length >= 3" class="pullrequest-approval pullrequest-approval-extra">
        <span>+{{ pullrequest.approvals.length - 2}}</span>
      </div>
    </div>
  </div>
  <div ng-if="prDashboard.loaded && prDashboard.pullrequests.length == 0" class="text-center">
    <img src="/static/images/empty.png">
  </div>
</div>
