{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="fancyDashboard">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nameless</title>

    {% compress css %}
      <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'bower_components/ubuntu-fontface/ubuntu.css' %}" type="text/css" charset="utf-8">

      <link rel="stylesheet" href="{% static 'sass/base.sass' %}" type="text/x-sass" charset="utf-8">
      <link rel="stylesheet" href="{% static 'sass/sidebar.sass' %}" type="text/x-sass" charset="utf-8">
      <link rel="stylesheet" href="{% static 'sass/dashboard.sass' %}" type="text/x-sass" charset="utf-8">
      <link rel="stylesheet" href="{% static 'sass/pullrequests.sass' %}" type="text/x-sass" charset="utf-8">
      <link rel="stylesheet" href="{% static 'sass/releases.sass' %}" type="text/x-sass" charset="utf-8">
      <link rel="stylesheet" href="{% static 'sass/utils.sass' %}" type="text/x-sass" charset="utf-8">
    {% endcompress %}

  </head>
  <body class="gray-bg">
    <div id="wrapper">
      <div  id="sidebar-wrapper" class="sidebar">
        <div id="sidebar-wrapper">
          <div class="sidebar-logo">
              <div class="sidebar-logo-helper">
                  <div class="sidebar-logo-content">
                    <img src="{% static 'images/sidebar-logo.png' %}" class="sidebar-logo-image">
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="dashboard-header">
          <a ui-sref="pullrequests" ui-sref-active="active" class="dashboard-menu-item">Pull Requests</a>
          <a ui-sref="releases" ui-sref-active="active" class="dashboard-menu-item">Releases</a>
          <span class="pull-right dashboard-toolbar" ng-controller="DashboardToolbarController as toolbar">
            <i class="fa fa-refresh"> </i>{{ toolbar.rotateTime }}
            <select class="dashboard-rotate-select" ng-model="toolbar.rotateTime">
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="60">60</option>
              <option value="90">90</option>
              <option value="120">120</option>
            </select>
          </span>
        </div>
        {# <a ui-sref="hello" ui-sref-active="active">Hello</a>#}
        <ui-view class="dashboard-view"></ui-view>
      </div>
    </div>

    {% compress js %}
      <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
      <script src="{% static 'bower_components/tether/dist/js/tether.js' %}"></script>
      <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
      <script src="{% static 'bower_components/moment/moment.js' %}"></script>

      <script src="{% static 'bower_components/angular/angular.js' %}"></script>
      <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
      <script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
      <script src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
      <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
      <script type="text/coffeescript" src="{% static 'angular/app.coffee' %}"></script>

      <!-- services -->
      <script type="text/coffeescript" src="{% static 'angular/services/pullrequests.coffee' %}"></script>
      <script type="text/coffeescript" src="{% static 'angular/services/releases.coffee' %}"></script>

      <!-- controllers -->
      <script type="text/coffeescript" src="{% static 'angular/controllers/dashboard-toolbar.coffee' %}"></script>
      <script type="text/coffeescript" src="{% static 'angular/controllers/pullrequests.coffee' %}"></script>
      <script type="text/coffeescript" src="{% static 'angular/controllers/releases.coffee' %}"></script>
    {% endcompress js %}
  </body>
</html>
